body
{
    font-family: Helvetica;
    background-color: white;
}
img
{
    border-width: 0px;
}
h2
{
    border-top: 1px solid #001E2D;
}
#validator
{
    float: right;
}
pre.lyrics
{
    white-space: pre-line;
    font-family: "Courier New", "Courier", "monospace";
}