body
{
    font-family: Helvetica, "Trebuchet MS", sans-serif, "Comic Sans MS";
    background-color: white;
}
h2
{
    border-top: 1px solid #001E2D;
}
pre.lyrics
{
    white-space: pre-line;
    font-family: "Courier New", "Courier", monospace;
}
